@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">APP_NAME: @ViewData["APP_NAME"]</h2>
    <h2 class="display-4">MACHINE_NAME: @ViewData["MACHINE_NAME"]</h2>
    <h2 class="display-4">REQUEST_HOST: @ViewData["REQUEST_HOST"]</h2>
    <h2 class="display-4">REQUEST_PATH: @ViewData["REQUEST_PATH"]</h2>
</div>